/* .body{
    background-color: black;
} */

/* .majeed{
    background-image: url(../../public/images/majeed.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.fa-music{
    color: #fff;
    font-size: 6rem;
    /* background: #3f3e3f; */
    padding: 2px;
    margin-left: 20px;
    border: 1px solid rgba(225, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.2);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px)
}

h1{
    /* background: #3f3e3f; */
    padding: 34px;
    max-width: 50%; 
    border: 1px solid rgba(225, 225, 225, 0.3);
    background: rgba(225, 225, 225, 0.2);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px)
}

.playlist-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
}

/* .majeed,
.ladipoe,
.ogranya,
.mavins{
    background-color: #3f3e3f;
} */

